In [2]:
import pandas as pd
import numpy as np

df_a = pd.DataFrame([[1,2,3,4,5],['kim','gang','hong','park','chang']]) 
a = list(df_a[0:1])
df_a.columns = a
 
# df_a =df_a[1:] ★ 첫 번째 행을 칼럼으로 하고 싶을 때 바꾸는 방법은 이렇게?? 이거 또는 pd.df.drop 사용

df_a.shape

(2, 5)

In [3]:
name=[['홍길동'],['신진식'],['최불암'],['조계현'],['김병현'],['서정원']]

n=pd.DataFrame(name) # 문자열을 요소로 갖는 리스트는 2차원 리스트 임 ★

n

     0
0  홍길동
1  신진식
2  최불암
3  조계현
4  김병현
5  서정원

In [6]:
df_ex4=pd.DataFrame({'a':[20],'b':[50],'c':[60]}) # 인덱스 설정 안하면 에러???★
df_ex4

    a   b   c
0  20  50  60

In [9]:
df_ex4=pd.DataFrame({'a':20,'b':50,'c':60},index=['kor'])
df_ex4

      a   b   c
kor  20  50  60